@import "theme.css";
@import "fonts.css";
@import "reset.css";

html {
    min-height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.container {
    max-width: 1144px;
    margin: 0 auto;
}

/* @media (max-width: 1200px) {
    .container {
        margin: 0 10px;

    }
} */