* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}

* *,
::before,
::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

button:hover {
/*     background: none;
    border: none;
    font: inherit;
    cursor: pointer; */
}
/* button {
    border: none;
    background: none;
    font: inherit;
} */

