.catalog-wrapper {
    margin-bottom: 108px;
}

.container {}

.about-important {}

.about-important__text {
    font-size: 46px;
    line-height: 63px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 96px;
}

.about-catalog {}

.product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
}

.product-card:not(:last-child) {
    margin-bottom: 100px;
}

.product-card-img {}

.product-img {
    min-width: 150px;
    width: 100%;
}

.product-card-description {}

.product-card-description__name {
    font-size: 32px;
    line-height: 44px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 14px;
}

.product-card-description-text {
    display: flex;
    justify-content: left;
    margin-bottom: 84px;
    color: #414141;
}

.product-card-description-text__text {
    font-size: 22px;
    line-height: 30px;
    max-width: 375px;
}

.product-card-description-text__img {
    position: relative;
    top: 8px;
}

.product-card-description__yourpromocode {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 5px;
}

.product-card-description__promocode {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 20px;
}

.promocode-button {
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: var(--main-color);
    padding: 20px 36px 25px 36px;
    text-transform: uppercase;
}

.promocode-button:hover {
    background-color: none;
}


@media (max-width:1200px) {
    .catalog-wrapper {
        margin-bottom: 52px;
    }

    .about-important__text {
        font-size: 32px;
        line-height: 44px;
    }

    .product-card {
        grid-template-columns: minmax(150px, 1fr);
        place-items: center;
        row-gap: 38px;
    }

    .product-card__img {
        margin: 0 20px;
    }

    .product-card-description {
        text-align: center;
        order: 2;
    }

    .product-card-description__name {
        margin: 0 25px 19px 25px;
    }

    .product-card-description-text {
        margin-bottom: 22px;
        justify-content: center;
    }

    .product-card-description-text__text {
        font-size: 18px;
        line-height: 25px;
    }

    .product-card-description-text__img {}

    .product-card-description__promocode {
        margin-bottom: 38px;
    }

    .promocode-button {
        white-space: nowrap;
        font-size: 18px;
        line-height: 25px;
        border: 3px solid #000000;
        margin: 0 40px;
    }

    .product-card__img {
        margin: 0 20px;
    }

}