.conditions-wrapper {
    margin-bottom: 54px;
}

.container {}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions-button__item {
    font-size: 26px;
    line-height: 35px;
    border: 3px solid #000000;
    text-transform: uppercase;
    padding: 22px 110px;
    margin-bottom: 90px;
}

.conditions-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: left;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 38px;
}

.conditions-item {
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: #414141;
}

.conditions-item__icon {}

@media (max-width: 1200px) {

    .conditions-wrapper {
        margin-bottom: 62px;
    }

    .conditions {
        margin: 0 30px;
    }

    .conditions-button__item {
        white-space: nowrap;
        font-size: 18px;
        line-height: 25px;
        order: 2;
        display: block;
        margin: 0 39px;
    }

    .conditions-menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 16px;
    }

    .conditions-item {
        display: grid;
        grid-template-columns: 1fr auto;
        row-gap: 16px;
    }

    .conditions-item__icon {
        width: 35px;
    }
}