.footer-wrapper {
    background: #FFFFFF;
}

.container {}

.footer {
    text-align: center;
    padding: 24px 0 48px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 100px;
}

.footer-logotip {}

.footer-logotip__img {}

.footer-contacts {
    display: flex;
    align-items: center;
    column-gap: 44px;
    font-size: 20px;
}

.footer-contacts-mail {
    display: flex;
    column-gap: 5px;
    line-height: 27px;
}

.footer-contacts-mail__img {}

.footer-contacts-tell {
    display: flex;
    column-gap: 5px;
    line-height: 27px;
}

.footer-contacts-tell__img {}

.footer-contacts__mailadress {
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social-link {}

.footer-social-link:not(:last-child) {
    margin-right: 8px;
}

.footer-social-link__img {}


@media (max-width: 1200px) {
    .footer {
        display: grid;
        grid-template-columns: minmax(80px, 1fr) 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        margin-right: 30px;
        text-align: center;
        height: 200px;
    }

    .footer-logotip__img {
        text-align: center;
        max-width: 68px;
        height: auto;
        margin-top: 24px;
    }

    .footer-contacts {
        flex-direction: column;
        row-gap: 25px;
        align-items: flex-start;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 29px 0 58px 0;
        font-size: 14px;
    }

    .footer-contacts-mail {
        line-height: 19px;
        column-gap: 5px;
    }

    .footer-contacts-mail__img {
        max-width: 22px;
        height: auto;
    }

    .footer-contacts-tell {
        line-height: 19px;
        column-gap: 5px;
    }

    .footer-contacts-tell__img {
        max-width: 19px;
        height: auto;
    }
    
    .footer-contacts__mailadress {
        line-height: 17px;
    }

    .footer-social {
        grid-row-start: 2;
        grid-column-start: 1;
        margin: auto;
        row-gap: 10px;
    }

    .footer-social-link__img {
        max-width: 23px;
        height: auto;
        margin-top: 30px;
    }

}