@import "./navbar.css";
@import "./sale.css";
@import "./catalog.css";
@import "./conditions.css";
@import "./footer.css";

body {
    background: url("../../img/Bacground/bacgroundleft.png") 0 100px no-repeat, url("../../img/Bacground/bacgroundright.png") right 77px no-repeat, #F5F5F5;
}

@media (max-width: 1200px) {
    body {
        background: #F5F5F5;
    }
}

