.navbar-wrapper {
   padding: 68px 0;

}

.container {}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-top {
    margin-bottom: 70px;
}

.navbar__logo {}

.navbar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-social {
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.navbar-social-link {}

.navbar-social-link:not(:last-child) {

    margin-right: 16px;
}

.navbar-menu {}

.navbar-menu__item {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: underline;
}


@media (max-width: 1200px) {
.navbar-wrapper {
padding: 48px 0;
}

.navbar-top {
    margin-bottom: 42px;
}
.navbar__logo {
    max-width: 182px;
    height: auto;
}
}