.sale-wrapper {
    margin-bottom: 168px;
}

.container {}

.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.25);
}

.sale__heading {
    color: #F59BAF;
    font-size: 60px;
    line-height: 82px;
    margin-bottom: 8px;
    padding-top: 67px;
    text-align: center;
}

.sale__text {
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: var(--grey-light);
    max-width: 760px;
    margin-bottom: 50px;

}

.sale__button {
    font-size: 26px;
    line-height: 35px;
    text-align: center;    
    padding: 22px 110px;
    border: 3px solid #000000;
    text-transform: uppercase;
    color: var(--main-coclor);
    margin-bottom: 66px;
}

@media (max-width: 1200px) {
    .sale-wrapper {
        margin-bottom: 82px;
    }

    .sale {
        margin: 0 10px;

    }

    .sale__heading {
        font-size: 30px;
        line-height: 41px;
        padding-top: 48px;
    }

    .sale__text {
        font-size: 16px;
        line-height: 22px;


    }

    .sale__button {
        white-space: nowrap;
        font-size: 18px;
        line-height: 25px;
        padding: 20px 76px;
        margin-bottom: 60px;
    }
}